Method for managing mandatory statements to found

In cases some attribute/leaf must be supported on the management interface AND 
a default value does not make sense, the mandatory statement should be added.

It seems to be rare and individual cases. 
Configuration within the UML (instead of post processing in the UML2YANG) could make sense.

multiplicity = 1 -> mandatory -> this is implemented in RPC 
however, if (yang) default values are given it conflicts with mandatory = true

-> possible solution via profiles

   

**Potential Proposal:**

To be checked, whether the translation rules inside the UM2YANG tool could be slightly modified in the following way:

Instead of
- (if multiplicity = 1 in UML) => (then mandatory statement to be put into YANG)  

there shall be 
- (if multiplicity = 1 in UML) AND (no default value defined) => (then mandatory statement to be put into YANG)


In the UM2YANG tool , we can support this logic. Please find the details and queries as below, 
In papyrus , the multiplicity of an attribute/Parameter should be 1 , 
- Configuration and State data : ownedAttributes’s multiplicity should be 1.
- Notifications : ownedAttributes’s multiplicity should be 1.
- RPCs : in/out ownedParameter’s multiplicity should be 1.

In the UML file, this will include a property called “lowerValue” with value 1. 
This lower value will be further used to support the mandatory sub statements for leafs.

Also created an issue to support this change in the tool https://github.com/OpenNetworkingFoundation/5G-xHaul/issues/47

Query : 
In RFC 6020 section 7.8.2, we have this statement , 

> The combined values of all the leafs specified in the key are used to
>    uniquely identify a list entry.  All key leafs MUST be given values
>    when a list entry is created.  Thus, any default values in the key
>    leafs or their types are ignored.  It also implies that any mandatory
>    statement in the key leafs are ignored.

Whether we have to support this aswell.
Note : in pyang output we dont see an error if mandatory statement is included for keys of list





[UML2YANG MandatorySubstatement.docx](https://github.com/openBackhaul/synchronization/files/11773486/UML2YANG.MandatorySubstatement.docx)
